<section class="w-full h-full rounded-sm">
    <!-- <h1>NextCloud Dashboard</h1> -->
    <!-- <iframe src="http://192.168.246.1:8081/" frameborder="0"></iframe> -->
    <iframe *ngIf="embedUrl" class="rounded-sm" #nextcloudFrame class="w-full h-full" [src]="embedUrl" frameborder="0"
    
    ></iframe>

    <p-dialog header="Template Builder" [(visible)]="showDialog" [style]="{width: '500px'}" [modal]="true">
        <div class="text-base leading-relaxed">
            <p>
                <strong>Template Builder</strong> is an integrated tool that helps you design and manage document
                templates within your workspace.
            </p>
            <p class="mt-3">
                We attempt to log you in automatically. However, if that doesn't succeed, you can still access the builder manually. Please log in using your application credentials:
            </p>
            <div class="mt-3 p-3 border-l-4 border-blue-600 bg-blue-50 rounded dark:border-blue-50 dark:bg-blue-500">
                <p><code>username & password</code>: <em>Your registered email</em></p>
                <!-- <p><code>password</code>: <em>Also your email</em></p> -->
                
            </div>
            <p-button (click)="copyToClipboard()" styleClass="!pl-0 mt-1" label="Copy Email / Password" [text]="true" [icon]="copied ? 'pi pi-check' : 'pi pi-clone'" severity="success" />
            <!-- <ul class="mt-2 ml-3">
                <li>
                    <code>username</code>: <em>Your registered email</em>
                </li>
                <li>
                    <code>password</code>: <em>Also your email</em>
                </li>
            </ul> -->
            <p class="mt-4">
                <a href="#" class="text-blue-600 underline font-semibold">Know more</a> about how Template Builder works
                and how your credentials are used.
            </p>
        </div>
    </p-dialog>

</section>