<div class="w-full min-h-screen">
  <!-- Main Content Area -->
  <mat-toolbar class="main header !bg-indigo-500 !text-white">
    <div class="flex justify-start w-[100%]">
      <span class="text-xl font-bold">Dynamic Reports</span>

      <div class="w-[100%] flex justify-end items-center">
        <div class="flex gap-5">
          <button [ngClass]="btnClass">Dashboard</button>
          <button [ngClass]="btnClass">Templates</button>
          <button [ngClass]="btnClass">Settings</button>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <div class="main contents">
    <section class="w-full absolute top-[10%] bottom-[10%]">
      <router-outlet></router-outlet>
    </section>
  </div>

  <!-- Footer -->
  <mat-toolbar class="main footer">
    Footer
  </mat-toolbar>
</div>



<!--
<mat-drawer-container [class.drawer-opened]="drawer.opened" class="example-container" [autosize]="true">
  <mat-drawer #drawer class="drawer" mode="side" [disableClose]="true" [opened]="true" [ngClass]="isExpanded ? '!w-10' : '!w-5'">
    <mat-toolbar class="header">
      <div>Logo</div>
      <div class="close" (click)="toggleDrawer()" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </div>
    </mat-toolbar>

    <div class="pt-[25%]">
      <mat-list role="list" class="flex justify-around items-center flex-col">
        <mat-list-item *ngIf="isExpanded" role="listitem">Dashboard</mat-list-item>
        <mat-list-item *ngIf="isExpanded" role="listitem">Templates</mat-list-item>
        <mat-list-item *ngIf="isExpanded" role="listitem">Settings</mat-list-item>
        
        <mat-list-item *ngIf="!isExpanded" role="listitem">D</mat-list-item>
        <mat-list-item *ngIf="!isExpanded" role="listitem">T</mat-list-item>
        <mat-list-item *ngIf="!isExpanded" role="listitem">S</mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>

  <mat-toolbar class="main header">
    <div class="gap-4" *ngIf="!drawer.opened" (click)="toggleDrawer()" role="button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </div>
    <div class="flex justify-end">Dynamic Reports</div>
  </mat-toolbar>

  <div class="main contents">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar class="main footer">
    Footer
  </mat-toolbar>
</mat-drawer-container> -->