<div class="w-full min-h-screen">
  <p-toast />
  <!-- Main Content Area -->
  <div class="card main header z-50">
    <!-- <p-menubar [model]="items" /> -->
    <p-toolbar [styleClass]="auth?.isLoggedIn ? '!p-0' : '!p-2' + '!bg-emerald-50'" [style]="" class="!bg-indigo-500">
      <ng-template #start>
        <div class="flex justify-between items-center gap-10">
          <div class="flex items-center">
            <a href="#">
              <span class="flex flex-row justify-center items-center gap-1 font-bold tracking-wider">
                <!-- <img src="../assets/logo2.png" alt="logo" height="40px"> -->
                 <img src="logo_rf.png" alt="user_picture" class="w-12 h-6">
                <p class="hidden sm:block text-xl text-emerald-600">ReportsForge</p>
              </span>
            </a>
          </div>
          <div *ngIf="auth?.isLoggedIn" class="hidden md:flex justify-center items-center">
            <p-button icon="pi pi-home" label="Dashboard" [routerLink]="['/dashboard']" text severity="primary" />
            <p-button icon="pi pi-folder-open" label="Template Builder" [routerLink]="['/templates']" text severity="primary" />
            <p-button icon="pi pi-file-pdf" label="Your Reports" [routerLink]="['/reports']" text severity="primary" />
            <p-button icon="pi pi-cog" label="Settings" [routerLink]="['/settings']" text severity="primary" />
          </div>
        </div>
      </ng-template>

      <ng-template #end>
        <p-button *ngIf="userInfo?.email" class="flex items-center gap-2" text plain (click)="drawerOpen=true" severity="primary">
          <p-avatar *ngIf="userInfo?.picture" size="large" [image]="userInfo.picture"
            [ngStyle]="{ 'width': '45px', 'height': '45px' }">
          </p-avatar>

          <div class="flex flex-col justify-start items-start">
            <span>{{userInfo?.name}}</span>
            <span>{{userInfo?.email}}</span>
          </div>

        </p-button>
      </ng-template>
    </p-toolbar>
  </div>

  <div class="main contents">
    <section class="w-full absolute top-[10%] bottom-[10%] px-5">
      <router-outlet></router-outlet>
    </section>
  </div>

  <!-- Footer -->
  <mat-toolbar *ngIf="auth?.isLoggedIn" class="main footer">
    <div class="flex justify-between items-center w-full">
      <span>Made for You - Reportsforge</span>
      <span>© 2025 Reportsforge</span>
    </div>
  </mat-toolbar>
</div>



<p-drawer header="Welcome, {{userInfo?.name}}" [(visible)]="drawerOpen" position="right">
  <div class="!w-full flex flex-col justify-between items-start">
    <p>{{userInfo?.email}}</p>
    <p-button styleClass="!w-full" raised class="!w-full" icon="pi pi-sign-out" label="Log Out" severity="danger"
      (click)="logout(); drawerOpen=false"></p-button>
  </div>
</p-drawer>