<div class="w-3/4 grid grid-cols-1 lg:grid-cols-4 gap-4 p-4">
    <!-- Campaign Alerts -->
    <div class="flex flex-col justify-between p-4 rounded-xl bg-cyan-50 border border-cyan-100">
        <div class="flex justify-between items-start">
            <div class="flex items-center gap-2 text-cyan-700 font-medium">
                <div class="bg-cyan-500 text-white px-2 py-1 rounded-md">
                    <i class="pi pi-home"></i>
                </div>
            </div>
            <div class="text-sm text-cyan-600">11:08, 17 Aug</div>
        </div>
        
        <div class="flex flex-col text-cyan-800 mt-4">
            <span class="text-xl">Campaign Alerts</span>
            <span class=" text-2xl font-bold ">123k</span>
        </div>
    </div>

    <!-- System Alerts -->
    <div class="flex flex-col justify-between p-4 rounded-xl bg-orange-50 border border-orange-100">
        <div class="flex justify-between items-start">
            <div class="flex items-center gap-2 text-orange-700 font-medium">
                <div class="bg-orange-500 text-white px-2 py-1 rounded-md">
                    <i class="pi pi-file"></i>
                </div>
                <span>System Alerts</span>
            </div>
            <div class="text-sm text-orange-600">14:15, 18 Aug</div>
        </div>
        <div class="text-2xl font-bold text-orange-800 mt-4">89k</div>
    </div>

    <!-- Promotional Offers -->
    <div class="flex flex-col justify-between p-4 rounded-xl bg-white border border-gray-200">
        <div class="flex justify-between items-start">
            <div class="flex items-center gap-2 text-gray-700 font-medium">
                <div class="bg-gray-500 text-white px-2 py-1 rounded-md">
                    <i class="pi pi-file-pdf"></i>
                </div>
                <span>Promotional Offers</span>
            </div>
            <div class="text-sm text-gray-500">09:30, 16 Aug</div>
        </div>
        <div class="text-2xl font-bold text-gray-800 mt-4">3k</div>
    </div>

    <!-- Traffic Distribution -->
    <div class="flex flex-col justify-between p-4 rounded-xl bg-purple-50 border border-purple-100">
        <div class="flex justify-between items-start">
            <div class="flex items-center gap-2 text-purple-700 font-medium">
                <div class="bg-purple-500 text-white px-2 py-1 rounded-md">
                    <i class="pi pi-chart-scatter"></i>
                </div>
                <span>Traffic Distribution</span>
            </div>
            <div class="text-sm text-purple-600">16:45, 19 Aug</div>
        </div>
        <div class="text-2xl font-bold text-purple-800 mt-4">175k</div>
    </div>
</div>